{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap-image-gallery.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/test_css.css' %}">
</head>
<body>
<h1>Memorial</h1>

</body>
<footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="{% static 'js/bootstrap-image-gallery.min.js' %}"></script>
</footer>
</html>