

<!DOCTYPE html>
<html>
<head>
    <title>Pictures</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  
    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="/static/photos/BIG342/css/demo.css">
    <link rel="stylesheet" href="/static/photos/BIG342/css/bootstrap-image-gallery.min.css">
    <link rel="stylesheet" href="/static/photos/css/photo_page.css">
</head>
<body>

<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="links" class="links">
    
        <a href="https://barkelymemorial.s3.amazonaws.com/08-19-10_1702.jpeg" title="" data-description="Description 2" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/08-19-10_1702_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/09-08-10_1554.jpeg" title="" data-description="Description 3" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/09-08-10_1554_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/CIMG0198.JPG" title="" data-description="Description 4" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/CIMG0198_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/CIMG0199.JPG" title="" data-description="Description 5" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/CIMG0199_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/CIMG0242.JPG" title="" data-description="Description 6" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/CIMG0242_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/CIMG0257.JPG" title="" data-description="Description 7" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/CIMG0257_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/CIMG0456.JPG" title="" data-description="Description 8" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/CIMG0456_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/CIMG0525.JPG" title="" data-description="Description 9" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/CIMG0525_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/CIMG0885.jpeg" title="" data-description="Description 10" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/CIMG0885_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/CIMG0984.JPG" title="" data-description="Description 11" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/CIMG0984_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/CIMG0985.jpeg" title="" data-description="Description 12" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/CIMG0985_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/CIMG1183.jpeg" title="" data-description="Description 13" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/CIMG1183_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/DSC00017.jpeg" title="" data-description="Description 14" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/DSC00017_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/DSC00208.jpeg" title="" data-description="Description 15" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/DSC00208_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/DSC00218.jpeg" title="" data-description="Description 16" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/DSC00218_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/DSC00294.jpeg" title="" data-description="Description 17" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/DSC00294_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/DSC00305_1024.jpg" title="" data-description="Description 18" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/DSC00305_1024_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/DSC00483.jpeg" title="" data-description="Description 19" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/DSC00483_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/DSC00536.JPG" title="" data-description="Description 20" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/DSC00536_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/DSC00539.jpeg" title="" data-description="Description 21" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/DSC00539_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/DSC00555.jpeg" title="" data-description="Description 22" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/DSC00555_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/DSC00591.jpeg" title="" data-description="Description 23" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/DSC00591_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/DSC00598.jpeg" title="" data-description="Description 24" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/DSC00598_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/GumpaWithHarry.jpg" title="" data-description="Description 25" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/GumpaWithHarry_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/IMG_0099.JPG" title="" data-description="Description 27" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/IMG_0099_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/IMG_0102.JPG" title="" data-description="Description 28" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/IMG_0102_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/IMG_0106.JPG" title="" data-description="Description 29" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/IMG_0106_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/IMG_0288.JPG" title="" data-description="Description 30" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/IMG_0288_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/IMG_0289.JPG" title="" data-description="Description 31" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/IMG_0289_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/IMG_0307.JPG" title="" data-description="Description 32" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/IMG_0307_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/IMG_0370_1024.jpg" title="" data-description="Description 33" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/IMG_0370_1024_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/IMG_0557.JPG" title="" data-description="Description 34" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/IMG_0557_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/IMG_0726.JPG" title="" data-description="Description 35" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/IMG_0726_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/IMG_2791%20-%20Copy.JPG" title="" data-description="Description 36" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/IMG_2791%20-%20Copy_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/IMG_4649.JPG" title="" data-description="Description 37" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/IMG_4649_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/IMG_4650.JPG" title="" data-description="Description 38" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/IMG_4650_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/IMG_4660.JPG" title="" data-description="Description 39" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/IMG_4660_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/IMG_7375.jpeg" title="" data-description="Description 40" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/IMG_7375_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/jpeg_1024%203.jpg" title="" data-description="Description 41" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/jpeg_1024%203_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/Megan%2BTom_04_Formals-195.jpg" title="" data-description="Description 42" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/Megan%2BTom_04_Formals-195_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/Megan%2BTom_04_Formals-200.jpg" title="" data-description="Description 43" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/Megan%2BTom_04_Formals-200_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/unknown_1024.jpg" title="" data-description="Description 44" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/unknown_1024_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/unnamed.jpg" title="" data-description="Description 45" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/unnamed_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/IMG_0044%20%282%29.JPG" title="Bill &amp; Cisco on Mt. Hood" data-description="Description 26" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/IMG_0044%20%282%29_thumb.jpg" >
        </a>
    
        <a href="https://barkelymemorial.s3.amazonaws.com/2__%23%24%21%40%25%21%23__unknown_1024.jpg" title="Bill &amp; Cisco on Mt. Hood" data-description="Description 1" id="{{object.pk" data-gallery>
            <img src="https://barkelymemorial.s3.amazonaws.com/2__%23%24%21%40%25%21%23__unknown_1024_thumb.jpg" >
        </a>
    
</div>
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <p class="description"></p>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close"></a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->

    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>


<script src="/static/photos/BIG342/js/bootstrap-image-gallery.min.js"></script>

<script src="/static/photos/js/photo-gallery.js"></script>


</footer>
</html>